<div class="col-md mt-3">
  <table datatable [dtOptions]="dtOptions" class="table table-hover">
    <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Plate</th>
      <th>User name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{vehicle.make}}</td>
      <td>{{vehicle.model}}</td>
      <td>{{vehicle.numberplate}}</td>
      <td>{{vehicle.user.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
